In [15]:
import pandas as pd 

emp_grad = pd.read_csv('csv_saved\empgradient_0.csv')
emp_grad

       Key                                              Value
0    inv_0  [ 639.18308406 -255.73576348  637.04773904  60...
1    inv_1  [1096.98146941  496.83017342 -361.68438361  10...
2    inv_2  [1652.5418414  1322.33694578  278.54915505   4...
3    inv_3  [ -815.56768372  -258.66304522 -1262.98217508 ...
4    inv_4  [-1334.24453011 -1492.62892684 -1238.62698062 ...
..     ...                                                ...
95  inv_95  [ 464.35073975  998.39450737 1507.81642228 106...
96  inv_96  [ -256.7447771    317.94632556  -876.20969898 ...
97  inv_97  [  684.56501198 -1432.29134852  -122.87049373 ...
98  inv_98  [  71.94557924  -70.51933755  150.07106747   1...
99  inv_99  [  86.55549628  301.29140609 -915.1341706  -64...

[100 rows x 2 columns]

In [34]:
emp_grad['Value'][12]

'[ 194.51709945  123.3919377    64.76596379 1786.04800742  -21.47898885\n  898.39628765   47.13360124   98.69010202 -189.97102413  997.9715369 ]'